name: spring-boot-mongodb

on:
    push:
        paths:
            - 'spring-boot-mongodb/**'
            - '.github/workflows/spring-boot-mongodb.yml'
    pull_request:
        paths:
            - 'spring-boot-mongodb/**'
            - '.github/workflows/spring-boot-mongodb.yml'

jobs:
    mongodb:
        name: Build spring boot using mongo with java version ${{ matrix.java }}
        runs-on: ubuntu-latest

        strategy:
            matrix:
                java: [ 17,18 ]

        steps:
            -   uses: actions/checkout@v3
            -   name: Setup java ${{ matrix.java }}
                uses: actions/setup-java@v3
                with:
                    distribution: 'temurin'
                    java-version: ${{ matrix.java }}
            -   run: mvn -B -f spring-boot-mongodb clean verify