name: spring-boot-elasticsearch

on:
    push:
        paths:
            - 'spring-boot-elasticsearch/**'
            - '.github/workflows/spring-boot-elasticsearch.yml'
    pull_request:
        paths:
            - 'spring-boot-elasticsearch/**'
            - '.github/workflows/spring-boot-elasticsearch.yml'

jobs:
    elasticsearch:
        name: Build spring boot using elasticsearch with java version ${{ matrix.java }}
        runs-on: ubuntu-latest

        strategy:
            matrix:
                java: [ 17,18 ]

        steps:
            -   uses: actions/checkout@v3
            -   name: Setup java ${{ matrix.java }}
                uses: actions/setup-java@v3
                with:
                    java-version: ${{ matrix.java }}
            -   run: mvn -B -f spring-boot-elasticsearch clean verify
